@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kaushan+Script&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

/* Header Styles */
header {
    margin-bottom: 80px;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #8b161a), url(/images/banner.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.logo {
    position: absolute;
    width: 140px;
    top: 4%;
    left: 10%;
}

.banner-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-title {
    font-size: 100px;
    font-family: 'Kaushan Script', cursive;
}

.b-dis {
    margin-top: 20px;
    font-size: 30px;
    font-style: italic;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 50px;
}

.btn {
    margin: 40px auto 0;
    gap: 30px;
}

.btn a {
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    border: .5px solid white;
    text-align: center;
    margin: 0px 20px;
    padding: 13px 0px;
    color: white;
    width: 180px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.6s;
}

.btn a:hover span {
    width: 100%;

}

.btn a:hover {
    color: black;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.2rem;
}

.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    height: 90vh;
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: 20px;
}

.side-nav ul li {
    list-style: none;
    margin: 50px 20px;
}

.side-nav ul a {
    text-decoration: none;
    color: white;
    font-family: 'poppins', cursive;
    transition: 0.3s;
}

.side-nav ul a:hover {
    font-size: 1.4rem;
    font-family: 'Kaushan Script', cursive;
    color: #ff9a9d;
    position: relative;
    margin-left: 5px;
}

/* Main Contents */
.s-title {
    font-size: 2.5rem;
}

.s-text {
    text-align: center;
    margin-bottom: 40px;
}

.s-logo {
    color: #c81313;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.s-logo::after {
    content: '';
    width: 50px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(#9e1f1f, #fff);
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.features {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    width: 80%;
    height: 80vh;
    margin-bottom: 80px;
    position: relative;
    margin-inline: auto;
    margin-bottom: 80px;
}

.f-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.f-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #a45658), url(/images/barber-man.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-left: 10px;
}

.f-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.f-dis {
    font-weight: bold;
}

.f-box {
    display: grid;
    grid-template-columns: .1fr 1.9fr;
}

.service {
    padding-top: 40px;
    padding-bottom: 40px;
    /* background: #fff1f1; */
    background: linear-gradient(rgba(255, 255, 255, 0.5), #ffe2e3);
    margin-bottom: 80px;
}

.s-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    width: 80%;
    margin-inline: auto;
    margin-bottom: 50px;
}
.testimonial{
    margin-bottom: 80px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), #ffe2e3);
    padding-top: 50px;
    padding-bottom: 50px;
}
.reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    height: 80vh;
    margin-inline: auto;
}
.review{
    background-color: #8b161a;
}
/* Footer Styles */
.ftr{
    width: 80%;
    height: auto;
    margin-inline: auto;
}
.f-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    height: 40vh;
}
.social{
    display: flex;
    justify-content: center;
}
.fc-1{
}
.fc-2{
    text-align: right;
    /* margin-top: 30px; */
}
.sc-img{
    margin-bottom: 10px;
}